.base {
  display: inline-block;
  height: 2.75rem;
  padding: .5rem;
  font-size: 1.25rem;
  background-color: red;
  color: white;
  transition: background-color 0.15s, color 0.15s;
  cursor: pointer;
}

.base:hover,
.base_isSelected {
  background-color: black;
  color: white;
}

.base:hover {
  background-color: rgba(0, 0, 0, .8);
}

.base.base_isDisabled:hover,
.base.base_isDisabled {
  background-color: rgba(0, 0, 0, .2);
  color: white;
  cursor: not-allowed;
}
