.base {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: .5rem 0 ;
    transition: background-color .5s;
    overflow: hidden
}

.base_isLoaded {
    overflow: scroll;
}

.title {
    display: block;
    width: 100%;
    font-size: 4rem;
    margin-bottom: 2rem;
}

.app {
    display: block;
    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.base_isLoaded .app {
    opacity: 1;
}

.label {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 120%;
}

.list {
    padding: .5rem 0;
    border-bottom: .0625rem solid #000;
}

.list > div {
    margin-right: .5rem;
    margin-bottom: .5rem;
}

.base:not(.base_isLoaded) {
    background-color: black;
}

.base_isLoaded {
    background-color: white;
}

.base_isLoaded .logo {
    opacity: 0;
}

.logo {
    position: absolute;
    height: 15rem;
    width: 15rem;
    pointer-events: none;
    opacity: 1;
    transition: opacity .15s .2s;
}

.base_isLoaded .rightCol {
    opacity: 1;
}

.rightCol {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    width: 100%;


    opacity: 0;
    transition: opacity .5s;
}

.base_isLoaded .leftCol {
    opacity: 1;
}

.leftCol {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: .5rem;
    width: 100%;
    opacity: 0;
    transition: opacity .15s;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (min-width: 768px) {
    .base {
        overflow: hidden;
    }

    .leftCol,
    .app,
    .rightCol {
        display: flex
    }

    .rightCol {
        width: 66.6666%;
        padding-right: .5rem;
    }

    .leftCol {
        width: 33.3333%;
    }
}